@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    /* Cores */
    --branco: #fff;
    --preto:  #000;

    --azul-escuro:      #03045E;
    --azul-pastel:      #6276D4;
    --azul-acinzentado: #32456F;
    --lilas:            #9747FF;
    --roxo:             #6122A5;
    --ciano-claro:      #48CAE4;
    --ciano-medio:      #00B4D8;
    --ciano-escuro:     #0077B6;
    --cinza-claro:      #D9D9D9;
    --cinza-medio:      #BBB9B9;
    --cinza-escuro:     #808080;

    /* Tipografia */
    --nunito: "Nunito", sans-serif;;
    --robotoCondesed: "Roboto Condensed", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html, body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--azul-escuro);
}

/* Header */
nav{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background: linear-gradient(90deg,rgba(24, 34, 101, 1) 8%, rgba(98, 118, 212, 1) 42%, rgba(97, 34, 165, 1) 100%);
}

/* Todos os links da nav */
nav a{
    font-family: var(--robotoCondesed);
    color: var(--branco);
}

/* Meu nome na nav */
a.nav-nome{
    font-size: 30px;
    font-weight: bold;
}

.nav-nome::before{
    display: inline-block;
    content: "";
    width: 2px;
    height: 22px;
    margin-right: 10px;
    background-color: var(--branco);
}

/* Lista dos itens de navegação da nav */
.nav-containerItens ul{
    display: flex;
    gap: 50px;
}

/* Itens de navegação da nav */
.nav-containerItens a{
    font-size: 20px;
    padding: 10px;
}

.nav-containerItens a:hover{
    text-decoration: underline;
}

.nav-pagAtual{
    text-decoration: underline;
}

/* Div que engloba o nome e o menu hamburguer do header */
.nomeIcone{
    display: flex;
    justify-content: space-around;
}

/* Ícones do menu hambuerguer */
.icon-menuHeader{
    cursor: pointer;
    display: none;
    font-size: 30px;
    color: var(--branco);
}


/* Main */
main{
    padding: 50px 120px;
}

/* Carrossel - Container dos Botões */
div.esconderCarrosselBotoes{
    display: none; /* Serve apenas para ocultar/exibir a caixa dos botões */
}

/* Carrosel - Caixa com os botões do carrossel */
div.carrosselBotoes{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Carrosel - Linha divisória dos botões */
div.carrosselBotoes span{
    width: 3px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--branco);
}

/* Carrosel - Botões */
div.carrosselBotoes i.carrosselSetas{
    cursor: pointer;
    font-size: 30px;
    color: var(--branco);
    transition: 300ms;
}

div.carrosselBotoes i.carrosselSetas:nth-child(1):hover{
    transform: translateX(-3px); /* Move a seta para esquerda */
    color: var(--ciano-medio);
}

div.carrosselBotoes i.carrosselSetas:nth-child(3):hover{
    transform: translateX(3px); /* Move a seta para direita */
    color: var(--ciano-medio);
}


/* Footer*/
footer p{
    padding: 20px;
    text-align: center;
    font-family: var(--robotoCondesed);
    color: var(--ciano-claro);
    background-color: var(--preto);
}



/* Media queris - Nav */
@media (min-width: 310px) and (max-width: 500px) {
    /* Header */
    nav{
        height: fit-content;
        padding: 15px 0;
        flex-direction: column;
        gap: 15px;
    }

    /* Div que engloba o nome e o menu hamburguer do header */
    div.nomeIcone{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    /* Container que engloba os itens de navegação da nav */
    .nav-containerItens{
        display: none; 
        width: 100%;
    }

    /* Lista dos itens de navegação da nav */
    .nav-containerItens ul{
        flex-direction: column;
        gap: 0;
    }

    /* Itens de navegação da nav */
    .nav-containerItens li{
        border: 1px solid var(--preto);
        text-align: center;
        font-size: 20px;
        padding: 15px 10px;
        width: 100%;
        transition: 300ms;
        background-color: var(--lilas);
    }

    .nav-containerItens li:active{
        background-color: var(--preto);
    }

    .nav-containerItens li:hover{
        background-color: var(--azul-pastel);
    }

    /* Ícone abrir menu hamburguer */
    .icon-menuHeader:nth-child(2){
        display: block;
    }
}
@media (min-width: 500px) and (max-width: 750px) {
    /* Header */
    nav{
        height: fit-content;
        padding: 15px 0;
        flex-direction: column;
        gap: 30px;
    }

    /* Div que engloba o nome e o menu hamburguer do header */
    div.nomeIcone{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    /* Container que engloba os itens de navegação da nav */
    .nav-containerItens{
        display: none; 
    }

    /* Lista dos itens de navegação da nav */
    .nav-containerItens ul{
        gap: 10px;
    }

    /* Itens de navegação da nav */
    .nav-containerItens li{
        font-size: 20px;
        padding: 20px;
    }


    /* Ícone abrir menu hamburguer */
    .icon-menuHeader:nth-child(2){
        display: block;
    }
}

/* Media queris - Carrossel */
@media screen and (max-width: 389px) {
    /* Carrossel - Container dos Botões */
    div.esconderCarrosselBotoes{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }

    /* Carrosel - Caixa com os botões do carrossel */
    div.carrosselBotoes{
        gap: 20px;
    }

    /* Carrosel - Botões */
    div.carrosselBotoes i.carrosselSetas{
        font-size: 40px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    /* Carrossel - Container dos Botões */
    div.esconderCarrosselBotoes{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }

    /* Carrosel - Caixa com os botões do carrossel */
    div.carrosselBotoes{
        gap: 20px;
    }

    /* Carrosel - Botões */
    div.carrosselBotoes i.carrosselSetas{
        font-size: 40px;
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    /* Carrossel - Container dos Botões */
    div.esconderCarrosselBotoes{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }

    /* Carrosel - Caixa com os botões do carrossel */
    div.carrosselBotoes{
        gap: 20px;
    }

    /* Carrosel - Botões */
    div.carrosselBotoes i.carrosselSetas{
        font-size: 35px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    /* Carrossel - Container dos Botões */
    div.esconderCarrosselBotoes{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }

    /* Carrosel - Caixa com os botões do carrossel */
    div.carrosselBotoes{
        gap: 20px;
    }

    /* Carrosel - Botões */
    div.carrosselBotoes i.carrosselSetas{
        font-size: 35px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 898px) {
    /* Carrossel - Container dos Botões */
    div.esconderCarrosselBotoes{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }

    /* Carrosel - Caixa com os botões do carrossel */
    div.carrosselBotoes{
        gap: 20px;
    }

    /* Carrosel - Botões */
    div.carrosselBotoes i.carrosselSetas{
        font-size: 35px;
    }
}
@media (min-width: 899px) and (max-width: 1088px) {
    /* Carrossel - Container dos Botões */
    div.esconderCarrosselBotoes{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }
}