@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    /* Cores */
    --branco: #fff;
    --preto:  #000;

    --azul-escuro:      #03045E;
    --azul-pastel:      #6276D4;
    --azul-acinzentado: #32456F;
    --lilas:            #9747FF;
    --roxo:             #6122A5;
    --ciano-claro:      #48CAE4;
    --ciano-medio:      #00B4D8;
    --ciano-escuro:     #0077B6;
    --cinza-claro:      #D9D9D9;
    --cinza-medio:      #BBB9B9;
    --cinza-escuro:     #808080;

    /* Tipografia */
    --nunito: "Nunito", sans-serif;;
    --robotoCondesed: "Roboto Condensed", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Header */
nav{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background: linear-gradient(90deg,rgba(24, 34, 101, 1) 8%, rgba(98, 118, 212, 1) 42%, rgba(97, 34, 165, 1) 100%);
}

/* Todos os links da nav */
nav a{
    font-family: var(--robotoCondesed);
    color: var(--branco);
}

/* Meu nome na nav */
.nav-nome{
    font-size: 30px;
    font-weight: bold;
}

.nav-nome::before{
    display: inline-block;
    content: "";
    width: 2px;
    height: 22px;
    margin-right: 10px;
    background-color: var(--branco);
}

/* Container que engloba os itens de navegação da nav */
.nav-containerItens{
    display: flex;
    gap: 50px;
}

/* Itens de navegação da nav */
.nav-containerItens a{
    font-size: 20px;
}

.nav-containerItens a:hover{
    text-decoration: underline;
}

.nav-pagAtual{
    text-decoration: underline;
}



/* Main */
main{
    padding: 80px 120px;
}