@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    /* Cores */
    --branco: #fff;
    --preto:  #000;

    --azul-escuro:      #03045E;
    --azul-pastel:      #6276D4;
    --azul-acinzentado: #32456F;
    --lilas:            #9747FF;
    --roxo:             #6122A5;
    --ciano-claro:      #48CAE4;
    --ciano-medio:      #00B4D8;
    --ciano-escuro:     #0077B6;
    --cinza-claro:      #D9D9D9;
    --cinza-medio:      #BBB9B9;
    --cinza-escuro:     #808080;

    /* Tipografia */
    --nunito: "Nunito", sans-serif;;
    --robotoCondesed: "Roboto Condensed", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding: 80px 120px;
}