@import url(base.css);

*{
    font-family: var(--robotoCondesed);
    color: var(--branco);
}

main{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

/* Section Contato */
section:nth-child(1){
    max-width: 475px;
}

/* Título da secion */
h1{
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 10px;
}

/* Parágrafo da secion */
p{
    height: 50px;
    font-size: 20px;
}

/* Formulário */
/* Form */
form{
    margin: 20px 0;
    box-shadow: 0px 0px 10px 0px #ffffff70;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--azul-acinzentado);
}

/* Label do form */
label{
    width: fit-content;
    margin-left: 10px;
    font-size: 20px;
}

/* Input e Textarea do form */
input, textarea{
    margin: 5px 0 12px 0;
    border: 1px solid var(--branco);
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
}

/* Textarea do form */
textarea{
    resize: none;
}

input::placeholder{
    font-weight: 300;
    font-size: 15px;
    color: var(--cinza-medio);
}

input:focus, input:hover, textarea:focus, textarea:hover{
    outline: 3px solid var(--ciano-escuro);
    border: 1px solid var(--ciano-escuro);
}

/* Botão do form */
form button{
    cursor: pointer;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--ciano-escuro);
    transition: 300ms;
}

form button:hover{
    background-color: var(--ciano-claro);
}

/* Nome + Email */
div#Nome_Email{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* Label + Input */
div.label_input{
    width: 200px;
    display: flex;
    flex-direction: column;
}

/* E-mail de contato - Div */
section:nth-child(1) > div{
    display: flex;
    gap: 5px;
}

/* E-mail de contato - Ícone */
section:nth-child(1) > div i{
    font-size: 18px;
    color: var(--cinza-medio);
}

/* E-mail de contato - Parágrafo */
section:nth-child(1) > div p{
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 14px;
    color: var(--cinza-medio);
}

/* Section Redes Sociais */
section:nth-child(2){
    max-width: 500px;
}

/* Container com o ícones das redes sociais */
div.containerIcons{
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

/* Rede social - Conteúdo */
a.contentIcon{
    width: 110px;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 50%);
    background-color: rgba(128, 128, 128, 20%);
    transition: 200ms;
}

a.contentIcon:hover{
    scale: 1.05;
    box-shadow: 0px 0px 10px 4px var(--ciano-escuro);
}

/* Rede social - Ícone */
a.contentIcon i{
    font-size: 40px;
    color: var(--ciano-escuro);
}

/* Rede social - Nome da rede social */
a.contentIcon span{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: italic;
}



/* Media Query */
@media screen and (max-width: 389px) {
    main{
        padding: 30px 20px;
        align-items: center;
        flex-direction: column;
    }

    p{
        height: fit-content;
    }

    /* Nome + Email */
    div#Nome_Email{
        flex-direction: column;
        gap: 0;
    }

    /* Label + Input */
    div.label_input{
        width: 100%;
    }

    /* Container com o ícones das redes sociais */
    div.containerIcons{
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px 40px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    main{
        padding: 30px 40px;
        align-items: center;
        flex-direction: column;
    }

    p{
        height: fit-content;
    }

    /* Nome + Email */
    div#Nome_Email{
        flex-direction: column;
        gap: 0;
    }

    /* Label + Input */
    div.label_input{
        width: 100%;
    }

    /* Container com o ícones das redes sociais */
    div.containerIcons{
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px 60px;
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    main{
        padding: 50px 60px;
        align-items: center;
        flex-direction: column;
    }

    p{
        height: fit-content;
    }

    /* Nome + Email */
    div#Nome_Email{
        flex-direction: column;
        gap: 0;
    }

    /* Label + Input */
    div.label_input{
        width: 100%;
    }

    /* Container com o ícones das redes sociais */
    div.containerIcons{
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px 60px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    main{
        padding: 50px 0;
        align-items: center;
        flex-direction: column;
    }

    p{
        height: fit-content;
    }
}
@media only screen and (min-width: 769px) and (max-width: 918px) {
    main{
        padding: 50px 40px;
    }

    p{
        height: fit-content;
    }

    /* Section Contato */
    section:nth-child(1){
        max-width: 400px;
    }

    /* Nome + Email */
    div#Nome_Email{
        flex-direction: column;
        gap: 0;
    }

    /* Label + Input */
    div.label_input{
        width: 100%;
    }

    /* Container com o ícones das redes sociais */
    div.containerIcons{
        margin-top: 44px;
        flex-wrap: wrap;
        gap: 30px;
    }

    /* Rede social - Conteúdo */
    a.contentIcon{
        width: 100px;
        padding: 10px 15px;
    }
} 
@media only screen and (min-width: 919px) and (max-width: 1095px) {
    main{
        padding: 50px 60px;
    }

    p{
        height: fit-content;
    }

    /* Nome + Email */
    div#Nome_Email{
        flex-direction: column;
        gap: 0;
    }

    /* Label + Input */
    div.label_input{
        width: 100%;
    }

    /* Container com o ícones das redes sociais */
    div.containerIcons{
        margin-top: 44px;
        gap: 30px;
    }

    /* Rede social - Conteúdo */
    a.contentIcon{
        width: 100px;
        padding: 10px 15px;
    }
}
@media only screen and (min-width: 1600px) {
    main{
        justify-content: center;
        gap: 400px;
    }
}