@import url(base.css);

*{
    font-family: var(--robotoCondesed);
    color: var(--branco);
}

/* Main */
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Título da secion */
h1{
    font-weight: 600;
    font-size: 35px;
}

/* Container */
main > div{
    max-width: 500px;
    border-radius: 20px;
    border: 5px solid var(--branco);
    padding: 20px 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: var(--ciano-escuro);
}

/* Icon + E-mail */
#icon-email{
    min-width: 290px;
    border-radius: 20px;
    border: 4px solid var(--branco);
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgb(17, 209, 0);
}

/* Icon Verificado */
i{
    font-size: 32px;
}

/* Parágrafo */
p{
    font-size: 25px;
}

/* Botão "Votlar */
button#btn-voltar{
    cursor: pointer;
    width: fit-content;
    border: 2px solid var(--branco);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: transparent;
    transition: 300ms;
}

button#btn-voltar:hover{
    background-color: var(--azul-escuro);
}



/* Media query */
@media screen and (max-width: 389px) {
    /* Título da secion */
    h1{
        font-size: 25px;
    }

    /* Container */
    main > div{
        max-width: 500px;
        padding: 20px 10px;
    }

    /* Icon + E-mail */
    #icon-email{
        min-width: 240px;
        padding: 10px 5px;
        gap: 15px;
    }

    /* Botão "Votlar */
    button#btn-voltar{
        font-size: 20px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    /* Título da secion */
    h1{
        font-size: 30px;
    }

    /* Icon + E-mail */
    #icon-email{
        padding: 10px 5px;
        gap: 15px;
    }

    /* Botão "Votlar */
    button#btn-voltar{
        font-size: 20px;
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    /* Título da secion */
    h1{
        font-size: 30px;
    }

    /* Icon + E-mail */
    #icon-email{
        padding: 10px 5px;
        gap: 15px;
    }

    /* Botão "Votlar */
    button#btn-voltar{
        font-size: 20px;
    }
}