@import url(base.css);
@import url(keyframes.css);

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
    font-family: var(--robotoCondesed);
}

/* Informações + Botões */
section.mainParte1{
    animation: aparecerParaDireita 2s ease;
}

/* Texto da home */
section.mainParte1 h1{
    font-size: 40px;
    font-weight: 400;
    color: var(--branco);
}

section.mainParte1 span{
    font-size: 40px;
    font-weight: 700;
    color: var(--ciano-claro);
}

section.mainParte1 p{
    margin: 10px 0 30px 0;
    font-size: 25px;
    font-weight: 700;
    color: var(--cinza-escuro);
}

/* Caixa que engloba os botões */
section.mainParte1 div{
    display: flex;
    justify-content: space-between;
}

section.mainParte1 button{
    cursor: pointer;
    width: 145px;
    height: 60px;
    border: 3px solid var(--ciano-medio);
    border-radius: 10px;
    font-size: 25px;
    font-weight: 600;
    color: var(--ciano-medio);
    background-color: transparent;
    transition: 300ms;
}

section.mainParte1 button:hover{
    color: var(--branco);
    background-color: var(--ciano-medio);
    animation: jello-vertical 1s both;
}

section.mainParte2{
    animation: aparecerParaEsquerda 2s ease;
}

/* Section mainParte2 */
section.mainParte2 img{
    width: 330px;
    height: 405px;
    border-radius: 5px;
    box-shadow: 0px 0px 4.5px 5px var(--ciano-medio);
    transition: 200ms;
}

section.mainParte2 img:hover{
    scale: 1.01;
}

/* Container das redes sociais */
section.mainParte2 div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

/* Ícones das redes sociais */
.icon-redeSocial{
    cursor: pointer;
    font-size: 40px;
    color: var(--ciano-escuro);
    transition: 200ms;
}

.icon-redeSocial:hover{
    color: var(--ciano-claro);
}



/* Media query */
@media screen and (max-width: 389px) {
    main{
        flex-direction: column;
        gap: 50px;
        padding: 30px 10px;
    }

    /* Texto da home */
    section.mainParte1 h1{
        text-align: center;
        font-size: 25px;
    }

    section.mainParte1 span{
        font-size: 25px;
    }

    section.mainParte1 p{
        text-align: center;
        font-size: 18px;
    }

    /* Caixa que engloba os botões */
    section.mainParte1 div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px 30px;
        transition: 100ms;
    }

    section.mainParte1 button{
        width: 115px;
        height: 45px;
        font-size: 20px;
    }

    section.mainParte1 button:hover{
        /* "Removendo" o efeito do hover para que o efeito de clique funcione*/
        border: 3px solid var(--ciano-medio);
        color: var(--ciano-medio);
        background-color: transparent;
    }

    section.mainParte1 button:active{
        /* Efeito de clique */
        color: var(--branco);
        background-color: var(--ciano-medio);
    }

    /* Section mainParte2 */
    section.mainParte2 img{
        width: 220px;
        height: 285px;
    }

    /* Ícones das redes sociais */
    .icon-redeSocial{
        font-size: 35px;
        transition: 100ms;
    }

    .icon-redeSocial:hover{
        /* "Removendo" o efeito do hover para que o efeito de clique funcione*/
        color: var(--ciano-escuro);
    }

    .icon-redeSocial:active{
        /* Efeito de clique */
        color: var(--ciano-claro);
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    main{
        flex-direction: column;
        gap: 50px;
        padding: 40px 20px;
    }

    /* Texto da home */
    section.mainParte1 h1{
        text-align: center;
        font-size: 30px;
    }

    section.mainParte1 span{
        font-size: 30px;
    }
    
    section.mainParte1 p{
        text-align: center;
        font-size: 20px;
    }

    /* Caixa que engloba os botões */
    section.mainParte1 div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px 30px;
        transition: 100ms;
    }

    section.mainParte1 button{
        width: 135px;
        height: 50px;
        font-size: 22px;
    }

    section.mainParte1 button:hover{
        /* "Removendo" o efeito do hover para que o efeito de clique funcione*/
        border: 3px solid var(--ciano-medio);
        color: var(--ciano-medio);
        background-color: transparent;
    }

    section.mainParte1 button:active{
        /* Efeito de clique */
        color: var(--branco);
        background-color: var(--ciano-medio);
    }

    /* Ícones das redes sociais */
    .icon-redeSocial{
        font-size: 40px;
        transition: 100ms;
    }

    .icon-redeSocial:hover{
        /* "Removendo" o efeito do hover para que o efeito de clique funcione*/
        color: var(--ciano-escuro);
    }

    .icon-redeSocial:active{
        /* Efeito de clique */
        color: var(--ciano-claro);
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    main{
        flex-direction: column;
        gap: 50px;
        padding: 40px 20px;
    }

    /* Texto da home */
    section.mainParte1 h1{
        text-align: center;
        font-size: 30px;
    }

    section.mainParte1 span{
        font-size: 30px;
    }
    
    section.mainParte1 p{
        text-align: center;
        font-size: 20px;
    }

    /* Caixa que engloba os botões */
    section.mainParte1 div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px 30px;
        transition: 100ms;
    }

    section.mainParte1 button:hover{
        /* "Removendo" o efeito do hover para que o efeito de clique funcione*/
        border: 3px solid var(--ciano-medio);
        color: var(--ciano-medio);
        background-color: transparent;
    }

    section.mainParte1 button:active{
        color: var(--branco);
        background-color: var(--ciano-medio);
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    main{
        flex-direction: column;
        gap: 50px;
        padding: 80px 50px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 998px) {
    main{
        flex-direction: column;
        gap: 50px;
        padding: 80px 50px;
    }
}
@media only screen and (min-width: 999px) and (max-width: 1210px) {
    main{
        justify-content: space-between;
        gap: 0;
        padding: 80px 50px;
    }
}