@keyframes aparecerParaDireita {
    from{ 
        transform: translateX(-80%);
        opacity: 0;
    }
    to { 
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes aparecerParaEsquerda {
    from{ 
        transform: translateX(100%);
        opacity: 0;
    }
    to { 
        transform: translateX(0%);
        opacity: 1;
    }
}