@keyframes aparecerParaDireita {
    from{ 
        transform: translateX(-15%);
        opacity: 0;
    }
    to { 
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes aparecerParaEsquerda {
    from{ 
        transform: translateX(15%);
        opacity: 0;
    }
    to { 
        transform: translateX(0%);
        opacity: 1;
    }
}

/* Título da section em Projetos */
@keyframes tituloParaDireita {
    from{ 
        transform: translateX(-80%);
        opacity: 0;
    }
    to { 
        transform: translateX(0%);
        opacity: 1;
    }
}