@import url(base.css);

/* Main */
main{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* Título da section */
section h1{
    font-size: 35px;
    margin-bottom: 50px;
    color: var(--branco);
    font-family: var(--robotoCondesed);
    text-align: center;
    text-decoration: underline;
}

/* Container com os projetos */
div.containerProjetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

/* Div que enbloba img do projeto + nome do projeto */
div.containerProjetos div{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: 300ms;
}

div.containerProjetos div:hover{
    scale: 1.05;
}

/* Imagem do projeto */
div.containerProjetos img{
    width: 400px;
    height: 290px;
    border-radius: 5px 5px 0 0;
}

/* Nome do projeto */
h2.nomeProjeto{
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--robotoCondesed);
    color: var(--branco);
    background-color: var(--ciano-medio);
}

/* Nome do projeto freelance */
h2.nomeFreelance{
    background-color: var(--lilas);
}

/* Carrossel - Container dos Botões */
div.carrosselProjMaior{
    display: none; /* Serve apenas para ocultar/exibir a caixa dos botões */
}

/* Carrosel - Caixa com os botões do carrossel */
div.carrosselBotoes{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Carrosel - Linha divisória dos botões */
div.carrosselBotoes span{
    width: 3px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--branco);
}

/* Carrosel - Botões */
div.carrosselBotoes i.setas{
    cursor: pointer;
    font-size: 30px;
    color: var(--branco);
    transition: 300ms;
}

div.carrosselBotoes i.setas:nth-child(1):hover{
    transform: translateX(-3px); /* Move a seta para esquerda */
    color: var(--ciano-medio);
}

div.carrosselBotoes i.setas:nth-child(3):hover{
    transform: translateX(3px); /* Move a seta para direita */
    color: var(--ciano-medio);
}

/* Parte referente ao modal: */
/* Modal - Camada preta */
div.camadaPreta{
    visibility: hidden;
    opacity: 0;
    width: 99vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.692);
    transition: 500ms;
}

/* Modal - Ícone para fechar modal */
i.icon-x{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
    color: var(--cinza-medio);
    transition: 200ms;
}

i.icon-x:hover{
    color: var(--branco);
    scale: 1.1;
}

/* Modal - Caixa com conteúdo do modal */
div.modalProjeto{
    visibility: hidden;
    width: 750px;
    height: 650px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 4px var(--ciano-claro);
    border-radius: 10px;
    padding: 0 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    background-color: var(--azul-escuro);
}

/* Modal - Freelance */
div.modalFreelance{
    background-color: var(--roxo);
    box-shadow: 0px 0px 10px 4px var(--lilas);
}

/* Modal - Título do projeto */
div.modalProjeto h2{
    font-family: var(--robotoCondesed);
    font-size: 30px;
    color: var(--branco);
}

/* Modal - Caixa com imagem + data do projeto */
div.modalImgData{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

/* Modal - Imagem do projeto */
div.modalImgData > img{
    width: 600px;
    height: 250px;
    border-radius: 5px;
    border: 3px solid var(--branco);
}

/* Modal - Data do projeto */
div.modalImgData span{
    font-family: var(--robotoCondesed);
    font-size: 15px;
    font-weight: 300;
    color: var(--branco);
}

/* Modal - Ícone da tecnologia */
img.iconTecnologia{
    width: 40px;
}

/* Modal - Caixa com informações de texto + tecnologias */
div.modalInformacoes{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

/* Modal - Caixa com informações de texto */
div.sobreProjeto{
    width: 315px;
}

/* Modal - Título do tópico*/
h3.modalTituloTopico{
    font-family: var(--robotoCondesed);
    font-size: 20px;
    color: var(--branco);
}

/* Modal - Parágrado do tópico */
div.sobreProjeto p{
    margin-top: 5px;
    font-family: var(--robotoCondesed);
    font-size: 15px;
    color: var(--branco);
}

/* Modal - link para o site inspiração do projeto */
div.sobreProjeto a{
    text-decoration: underline;
    color: var(--cinza-medio);
    transition: 300ms;
}

div.sobreProjeto a:hover{
    color: var(--cinza-escuro);
}

/* Modal - Caixa título + tecnologias  */
div.tecnologiasProjeto{
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Modal - Caixa com os ícones de tecnologia */
div.tecnologiasProjeto div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Modal - Imagens das tecnologias */
img.iconTecnologia{
    width: 50px;
    transition: 300ms;
}

img.iconTecnologia:hover{
    scale: 1.2;
}

/* Modal - Caixa dos botões */
div.containerBotoes{
    display: flex;
    gap: 50px;
}

/* Modal - Botáo */
a.modalBotao{
    width: 200px;
    padding: 10px 0;
    border-radius: 10px;
    font-family: var(--robotoCondesed);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: var(--preto);
    background-color: var(--branco);
    transition: 300ms;
}

a.modalBotao:hover{
    scale: 1.05;
    color: var(--branco);
    background-color: var(--ciano-medio);
}



/* Media query */
@media screen and (max-width: 389px) {
    /* Main */
    main{
        padding: 50px 10px;
        gap: 50px;
    }

    /* Section */
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* Título da section */
    section h1{
        margin-bottom: 30px;
    }

    /* Container com os projetos */
    div.containerProjetos{
        width: 300px;
        flex-wrap: unset;
        justify-content: left;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    /* Div que enbloba img do projeto + nome do projeto */
    div.containerProjetos div:hover{
        scale: 1;
    }

    /* Imagem do projeto */
    div.containerProjetos img{
        width: 300px;
        height: 250px;
    }

    /* Carrossel - Container dos Botões */
    div.carrosselProjMaior{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }

    /* Carrosel - Botões */
    div.carrosselBotoes i.setas{
        transition: 200ms;
    }
    div.carrosselBotoes i.setas:nth-child(1):hover{
        transform: translateX(0); /* Move a seta para esquerda */
        color: var(--branco);
    }
    div.carrosselBotoes i.setas:nth-child(1):active{
        transform: translateX(0); /* Move a seta para esquerda */
        color: var(--ciano-medio);
    }

    div.carrosselBotoes i.setas:nth-child(3):hover{
        transform: translateX(0); /* Move a seta para direita */
        color: var(--branco);
    }
    div.carrosselBotoes i.setas:nth-child(3):active{
        transform: translateX(0); /* Move a seta para direita */
        color: var(--ciano-medio);
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    /* Main */
    main{
        padding: 50px 20px;
        gap: 50px;
    }

    /* Section */
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* Título da section */
    section h1{
        margin-bottom: 30px;
    }

    /* Container com os projetos */
    div.containerProjetos{
        width: 320px;
        flex-wrap: unset;
        justify-content: left;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    div.containerProjetos div:hover{
        scale: 1;
    }

    /* Imagem do projeto */
    div.containerProjetos img{
        width: 320px;
        height: 290px;
    }

    /* Carrossel - Container dos Botões */
    div.carrosselProjMaior{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }

    /* Carrosel - Botões */
    div.carrosselBotoes i.setas{
        transition: 200ms;
    }
    div.carrosselBotoes i.setas:nth-child(1):hover{
        transform: translateX(0); /* Move a seta para esquerda */
        color: var(--branco);
    }
    div.carrosselBotoes i.setas:nth-child(1):active{
        transform: translateX(0); /* Move a seta para esquerda */
        color: var(--ciano-medio);
    }

    div.carrosselBotoes i.setas:nth-child(3):hover{
        transform: translateX(0); /* Move a seta para direita */
        color: var(--branco);
    }
    div.carrosselBotoes i.setas:nth-child(3):active{
        transform: translateX(0); /* Move a seta para direita */
        color: var(--ciano-medio);
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    /* Main */
    main{
        padding: 50px 20px;
        gap: 50px;
    }

    /* Section */
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* Título da section */
    section h1{
        margin-bottom: 30px;
    }

    /* Container com os projetos */
    div.containerProjetos{
        width: 400px;
        flex-wrap: unset;
        justify-content: left;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    /* Div que enbloba img do projeto + nome do projeto */
    div.containerProjetos div:hover{
        scale: 1;
    }

    /* Carrossel - Container dos Botões */
    div.carrosselProjMaior{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    /* Main */
    main{
        padding: 50px 30px;
        gap: 50px;
    }

    /* Section */
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* Título da section */
    section h1{
        margin-bottom: 30px;
    }

    /* Container com os projetos */
    div.containerProjetos{
        width: 400px;
        flex-wrap: unset;
        justify-content: left;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    /* Div que enbloba img do projeto + nome do projeto */
    div.containerProjetos div:hover{
        scale: 1;
    }

    /* Carrossel - Container dos Botões */
    div.carrosselProjMaior{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }
}
@media only screen and (min-width: 769px) and (max-width: 918px) {
    /* Main */
    main{
        padding: 50px 30px;
        gap: 50px;
    }

    /* Section */
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* Título da section */
    section h1{
        margin-bottom: 30px;
    }

    /* Container com os projetos */
    div.containerProjetos{
        width: 400px;
        flex-wrap: unset;
        justify-content: left;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    /* Div que enbloba img do projeto + nome do projeto */
    div.containerProjetos div:hover{
        scale: 1;
    }

    /* Carrossel - Container dos Botões */
    div.carrosselProjMaior{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }
} 
@media only screen and (min-width: 919px) and (max-width: 1095px) {
    /* Main */
    main{
        padding: 50px 30px;
    }
}