@import url(base.css);

main{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

h1 {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 600;
    color: var(--branco);
}

/* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
section#SobreTec{
    display: flex;
    justify-content: space-between;
    font-family: var(--robotoCondesed);
}

/* Sobre mim - Sobre  */
div#sobreMim{
    width: 570px;
}

/* Sobre mim - Parágrafo */
div#sobreMim p{
    font-size: 25px;
    font-weight: 300;
    color: var(--branco);
}

/* Sobre mim - Tecnologias e Ferramentas */
div#TecsFerramentas{
    width: 380px;
}

/* Sobre mim - Container com os icons */
div.containerIconsTecs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Sobre mim - Icon + Nome do Icon*/
div.contentIcosTecs{
    width: 85px;
    height: 85px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    font-family: var(--nunito);
    color: var(--branco);
    background-color: #8080803d;
    transition: 300ms;
}

div.contentIcosTecs:hover{
    scale: 1.1;
    background-color: var(--cinza-escuro);
}

/* Sobre mim - Icon */
div.contentIcosTecs img{
    width: 50px;
}

/* Linha divisória */
div#mainLinhaDivisoria{
    height: 2px;
    background-color: var(--branco);
}


/* Section Experiencia + Certificados */
section#ExperienciaCertificados{
    display: flex;
    justify-content: space-between;
    font-family: var(--robotoCondesed);
    color: var(--branco);
}

/* Section Experiencia + Certificados - Cards da Experiência */
div#Experiencia section{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Card Experiência + Certificados - Container */
div.card{
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--azul-acinzentado);
}

/* Card Experiência - Container  */
div.cardExperiencia{
    max-width: 580px;
}

div.cardExperiencia p{
    font-size: 20px;
}

/* Card Certificados - Container  */
div.cardCertificados{
    position: relative; /* Está com position: relative pq o span desse card tem position: absolute, ent é preciso desse relative para que o span respeite apenas o espaço interno ao usar as medidas no bottom e left */
    width: 450px;
    height: fit-content;
}

/* Card Experiência e Certificados - Título */
div.card h2{
    font-size: 30px;
    font-weight: 600;
}

/* Card Experiência e Certificados - Subítulo */
div.card h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--ciano-claro);
}

/* Card Experiência e Certificados - Período */
div.card h4{
    font-size: 15px;
    font-weight: 400;
    color: var(--cinza-medio);
}

/* Card Certificados - Certificado */
div.card span{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 15px;
    font-weight: 400;
    color: var(--cinza-medio);
}

/* Card Certificados - Engloba os Cards dos Certificados  */
div#certificados section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Card Certificados - Icon e Linha vertical + Card */
div.ContainerIcon-e-card{
    display: flex;
    gap: 10px;
}

/* Card Certificados - Icon */
div.icon_LinhaVertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
/* Card Certificados - Icon */
i.icon-certificado{
    padding: 12px;
    font-size: 22px;
    border: 2px solid var(--branco);
    border-radius: 50%;
    background-color: var(--ciano-escuro);
}

div.linhaVertical{
    width: 2px;
    height: 100%;
    background-color: var(--branco);
}



/* Media query */
@media screen and (max-width: 389px) {
    main{
        padding: 30px 15px;
        gap: 60px;
    }

    h1{
        text-align: center;
        font-size: 32px;
    }

    /* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
    section#SobreTec{
        flex-direction: column;
        gap: 40px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 100%;
    }

    /* Sobre mim - Parágrafo */
    div#sobreMim p{
        text-align: center;
        font-size: 22px;
    }

    /* Sobre mim - Tecnologias e Ferramentas */
    div#TecsFerramentas{
        width: 100%;
        text-align: center;
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    main{
        padding: 50px 30px;
        gap: 60px;
    }

    h1{
        text-align: center;
        font-size: 32px;
    }

    /* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
    section#SobreTec{
        flex-direction: column;
        gap: 40px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 100%;
    }

    /* Sobre mim - Parágrafo */
    div#sobreMim p{
        text-align: center;
        font-size: 22px;
    }

    /* Sobre mim - Tecnologias e Ferramentas */
    div#TecsFerramentas{
        width: 100%;
        text-align: center;
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    main{
        padding: 50px 40px;
        gap: 60px;
    }

    h1{
        text-align: center;
        font-size: 32px;
    }

    /* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
    section#SobreTec{
        flex-direction: column;
        gap: 40px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 100%;
    }

    /* Sobre mim - Parágrafo */
    div#sobreMim p{
        text-align: center;
        font-size: 22px;
    }

    /* Sobre mim - Tecnologias e Ferramentas */
    div#TecsFerramentas{
        width: 100%;
        text-align: center;
    }

    /* Sobre mim - Container com os icons */
    div.containerIconsTecs{
        margin: 0 auto;
        max-width: 380px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    main{
        padding: 50px 70px;
        gap: 60px;
    }

    /* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
    section#SobreTec{
        flex-direction: column;
        gap: 40px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 100%;
    }

    /* Sobre mim - Tecnologias e Ferramentas */
    div#TecsFerramentas{
        width: 100%;
        text-align: center;
    }

    /* Sobre mim - Container com os icons */
    div.containerIconsTecs{
        margin: 0 auto;
        max-width: 380px;
    }

}
@media only screen and (min-width: 769px) and (max-width: 898px) {
    main{
        padding: 50px 70px;
    }

    /* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
    section#SobreTec{
        flex-direction: column;
        gap: 40px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 100%;
    }

    /* Sobre mim - Tecnologias e Ferramentas */
    div#TecsFerramentas{
        width: 100%;
        text-align: center;
    }
}
@media only screen and (min-width: 899px) and (max-width: 1088px) {
    main{
        padding: 50px 90px;
    }

    /* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
    section#SobreTec{
        flex-direction: column;
        gap: 40px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 100%;
    }

    /* Sobre mim - Tecnologias e Ferramentas */
    div#TecsFerramentas{
        width: 100%;
        text-align: center;
    }
}
@media only screen and (min-width: 1089px) and (max-width: 1230px) {
    main{
        padding: 50px 90px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 500px;
    }
}