@import url(base.css);

main{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

h1 {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 600;
    color: var(--branco);
}

/* Section Sobre + Tecnologias e Ferramentas */
section#SobreTec{
    display: flex;
    justify-content: space-between;
    font-family: var(--robotoCondesed);
}

/* Sobre  */
div#sobreMim{
    width: 570px;
}

div#sobreMim p{
    font-size: 25px;
    font-weight: 300;
    color: var(--branco);
}

/* Tecnologias e Ferramentas */
div#TecsFerramentas{
    width: 380px;
}

/* Container com os icos */
div.containerIconsTecs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Icon + Nome do Icon*/
div.contentIcosTecs{
    width: 85px;
    height: 85px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    font-family: var(--nunito);
    color: var(--branco);
    background-color: #8080803d;
    transition: 300ms;
}

div.contentIcosTecs:hover{
    scale: 1.1;
    background-color: var(--cinza-escuro);
}

/* Icon */
div.contentIcosTecs img{
    width: 50px;
}

/* Linha divisória */
div#mainLinhaDivisoria{
    height: 2px;
    background-color: var(--branco);
}


/* Section Experiencia + Certificados */
section#ExperienciaCertificados{
    display: flex;
    justify-content: space-between;
    font-family: var(--robotoCondesed);
    color: var(--branco);
}

/* Section Experiencia + Certificados - Cards da Experiência */
div#Experiencia section{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Card Experiência + Certificados - Container */
div.card{
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--azul-acinzentado);
}

/* Card Experiência - Container  */
div.cardExperiencia{
    max-width: 580px;
}

div.cardExperiencia p{
    font-size: 20px;
}

/* Card Certificados - Container  */
div.cardCertificados{
    max-width: 450px;
    height: fit-content;
}

/* Card Experiência e Certificados - Título */
div.card h2{
    font-size: 30px;
    font-weight: 600;
}

/* Card Experiência e Certificados - Subítulo */
div.card h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--ciano-claro);
}

/* Card Experiência e Certificados - Período */
div.card h4{
    font-size: 15px;
    font-weight: 400;
    color: var(--cinza-medio);
}

/* Card Certificados - Engloba os Cards dos Certificados  */
div#certificados section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Card Certificados - Icon e Linha vertical + Card */
div.ContainerIcon-e-card{
    display: flex;
    gap: 10px;
}

/* Card Certificados - Icon */
div.icon_LinhaVertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
/* Card Certificados - Icon */
i.icon-certificado{
    padding: 12px;
    font-size: 22px;
    border: 2px solid var(--branco);
    border-radius: 50%;
    background-color: var(--ciano-escuro);
}

div.linhaVertical{
    width: 2px;
    height: 100%;
    background-color: var(--branco);
}