@import url(base.css);

main{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

h1 {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 600;
    color: var(--branco);
}

/* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
section#SobreTec{
    display: flex;
    justify-content: space-between;
    font-family: var(--robotoCondesed);
}

/* Sobre mim - Sobre  */
div#sobreMim{
    width: 570px;
}

/* Sobre mim - Parágrafo */
div#sobreMim p{
    font-size: 25px;
    font-weight: 300;
    color: var(--branco);
}

/* Sobre mim - Tecnologias e Ferramentas */
div#TecsFerramentas{
    width: 380px;
}

/* Sobre mim - Container com os icons */
div.containerIconsTecs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Sobre mim - Icon + Nome do Icon*/
div.contentIcosTecs{
    width: 85px;
    height: 85px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    font-family: var(--nunito);
    color: var(--branco);
    background-color: #8080803d;
    transition: 300ms;
}

div.contentIcosTecs:hover{
    scale: 1.1;
    background-color: var(--cinza-escuro);
}

/* Sobre mim - Icon */
div.contentIcosTecs img{
    width: 50px;
}

/* Linha divisória */
div#mainLinhaDivisoria{
    height: 2px;
    background-color: var(--branco);
}


/* Section Experiencia + Certificados */
section#ExperienciaCertificados{
    display: flex;
    justify-content: space-between;
    font-family: var(--robotoCondesed);
    color: var(--branco);
}

/* Section Experiencia + Certificados - Cards da Experiência */
div#Experiencia section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    scroll-behavior: smooth;
}

/* Card Experiência + Certificados - Container */
div.card{
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--azul-acinzentado);
}

/* Card Experiência - Container  */
div.cardExperiencia{
    max-width: 580px;
}

div.cardExperiencia p{
    font-size: 20px;
}

/* Card Certificados - Container  */
div.cardCertificados{
    position: relative; /* Está com position: relative pq o span desse card tem position: absolute, ent é preciso desse relative para que o span respeite apenas o espaço interno ao usar as medidas no bottom e left */
    width: 450px;
    height: fit-content;
}

/*  Card Certificados - Título da Confereência */
div#cardConferencia h2{
    font-size: 25px;
}
/* Card Experiência e Certificados - Título */
div.card h2{
    font-size: 30px;
    font-weight: 600;
}

/* Card Experiência e Certificados - Subítulo */
div.card h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--ciano-claro);
}

/* Card Experiência e Certificados - Período */
div.card h4{
    font-size: 15px;
    font-weight: 400;
    color: var(--cinza-medio);
}

/* Card Certificados - Certificado */
div.card a{
    padding: 10px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    color: var(--cinza-medio);
}

div.card a:hover{
    text-decoration: underline;
}

/* Card Certificados - Engloba os Cards dos Certificados  */
div#certificados section{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Card Certificados - Icon e Linha vertical + Card */
div.ContainerIcon-e-card{
    display: flex;
    gap: 10px;
}

/* Card Certificados - Icon + Linha vertical*/
div.icon_LinhaVertical{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

/* Card Certificados - Icon */
i.icon-certificado{
    padding: 12px;
    font-size: 22px;
    border: 2px solid var(--branco);
    border-radius: 50%;
    background-color: var(--ciano-escuro);
}

/* Card Certificados - Linha vertical */
div.linhaVertical, div.linhaHorizontalPython{
    width: 2px;
    height: 100%;
    z-index: 1;
    background-color: var(--branco);
}

/* Card Certificados - Linha horizontal exclusiva para o último card */
div.linhaHorizontalPython{
    display: none;
}

/* Card Certificados - Linha vertical exclusiva para o último card */
div.linhaVerticalPython{
    display: none;
    width: 4px;
    height: 20px;
    position: absolute;
    right: 0;
    z-index: 2;
    border-radius: 5px;
    background-color: var(--branco);
}

/* Posição da ponta da seta */
div.setaLinha{
    display: none;
    position: absolute;
    width: 15px;
    height: 3px;
    right: 0;
    background-color: var(--branco);
    z-index: 2;
}

/* Seta esquerda */
div.setaPontaEsquerda{
    top: 19px;
    rotate: 45deg;
}

/* Seta direita */
div.setaPontaDireita{
    bottom: 19px;
    rotate: -45deg;
}


/* Carrossel - Container dos Botões */
div.esconderCarrosselBotoes{
    display: none; /* Serve apenas para ocultar/exibir a caixa dos botões */
}

/* Carrosel - Caixa com os botões do carrossel */
div.carrosselBotoes{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Carrosel - Linha divisória dos botões */
div.carrosselBotoes span{
    width: 3px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--branco);
}

/* Carrosel - Botões */
div.carrosselBotoes i.carrosselSetas{
    cursor: pointer;
    font-size: 30px;
    color: var(--branco);
    transition: 300ms;
}

div.carrosselBotoes i.carrosselSetas:nth-child(1):hover{
    transform: translateX(-3px); /* Move a seta para esquerda */
    color: var(--ciano-medio);
}

div.carrosselBotoes i.carrosselSetas:nth-child(3):hover{
    transform: translateX(3px); /* Move a seta para direita */
    color: var(--ciano-medio);
}


/* Media query */
@media screen and (max-width: 389px) {
    main{
        padding: 30px 15px;
        gap: 60px;
    }

    h1{
        text-align: center;
        font-size: 32px;
    }

    /* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
    section#SobreTec{
        flex-direction: column;
        gap: 40px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 100%;
    }

    /* Sobre mim - Parágrafo */
    div#sobreMim p{
        text-align: center;
        font-size: 22px;
    }

    /* Sobre mim - Tecnologias e Ferramentas */
    div#TecsFerramentas{
        width: 100%;
        text-align: center;
    }

    /* Section Experiencia + Certificados */
    section#ExperienciaCertificados{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /* Section Experiencia + Certificados - h1 */
    section#ExperienciaCertificados h1{
        font-size: 35px;
        text-align: center;
    }

    /* Section Experiencia + Certificados - Cards da Experiência */
    div#Experiencia section{
        width: 300px;
        flex-direction: row;
        overflow: hidden;
        
    }

    /* Card Experiência - Container  */
    div.cardExperiencia{
        width: 300px;
        height: 390px;
        flex-shrink: 0; /* Permite que o card nâo encolha/diminua */
        text-align: center;
    }

    /* Card Experiência - Título e Subítulo */
    div.cardExperiencia h2, div.cardExperiencia h3{
        font-size: 20px;
    }

    /* Card Experiência - Período  */
    div.cardExperiencia h4{
        font-size: 15px;
    }

    /* Card Experiência - Texto  */
    div.cardExperiencia p{
        font-size: 18px;
    }

    /* Card Certificados - Engloba os Cards dos Certificados  */
    div#certificados section{
        width: 320px;
        margin: 0 auto;
        flex-direction: row;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    /* Card Certificados - Icon e Linha vertical + Card */
    div.ContainerIcon-e-card{
        flex-direction: column;
    }

    /* Card Certificados - Icon + Linha vertical*/
    div.icon_LinhaVertical{
        flex-direction: row;
        gap: 15px;
    }

    /* Card Certificados - Icon */
    i.icon-certificado{
        padding: 10px;
        font-size: 20px;
        margin-left: 2px;
    }

    /* Card Certificados - Linha vertical */
    div.linhaVertical{
        width: 100%;
        height: 2px; 
    }

    /* Posição da ponta da seta */
    div.setaLinha{
        display: block;
        width: 15px;
        height: 2px;
        right: -4px;
    }

    /* Seta esquerda */
    div.setaPontaEsquerda{
        top: 19px;
        rotate: 45deg;
    }

    /* Seta direita */
    div.setaPontaDireita{
        bottom: 20px;
        rotate: -45deg;
    }

    /* Card Certificados - Linha horizontal exclusiva para o último card */
    div.linhaHorizontalPython{
        display: block;
        width: 100%;
        height: 2px;
    }

    /* Card Certificados - Linha vertical exclusiva para o último card */
    div.linhaVerticalPython{
        display: block;
    }

    /* Card Certificados - Container  */
    div.cardCertificados{
        width: 320px;
        height: 170px;
        justify-content: space-between;
    }

    /* Card Certificados - Título */
    div.cardCertificados h2{
        font-size: 22px;
    }

    /* Card Certificados - Título da Confereência */
    div#cardConferencia h2{
        font-size: 18px;
    }

    /* Card Certificados - Local */
    div.cardCertificados h3{
        font-size: 15px;
    }

    /* Card Certificados - Período */
    div.cardCertificados h4{
        font-size: 15px;
    }

    /* Carrossel - Container dos Botões */
    div.esconderCarrosselBotoes{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }

    /* Carrosel - Caixa com os botões do carrossel */
    div.carrosselBotoes{
        gap: 20px;
    }

    /* Carrosel - Botões */
    div.carrosselBotoes i.carrosselSetas{
        font-size: 40px;
    }
}
@media only screen and (min-width: 390px) and (max-width: 458px) {
    main{
        padding: 50px 30px;
        gap: 60px;
    }

    h1{
        text-align: center;
        font-size: 32px;
    }

    /* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
    section#SobreTec{
        flex-direction: column;
        gap: 40px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 100%;
    }

    /* Sobre mim - Parágrafo */
    div#sobreMim p{
        text-align: center;
        font-size: 22px;
    }

    /* Sobre mim - Tecnologias e Ferramentas */
    div#TecsFerramentas{
        width: 100%;
        text-align: center;
    }

    /* Section Experiencia + Certificados */
    section#ExperienciaCertificados{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /* Section Experiencia + Certificados - h1 */
    section#ExperienciaCertificados h1{
        font-size: 35px;
        text-align: center;
    }

    /* Section Experiencia + Certificados - Cards da Experiência */
    div#Experiencia section{
        width: 340px;
        flex-direction: row;
        overflow: hidden;
        
    }

    /* Card Experiência - Container  */
    div.cardExperiencia{
        width: 340px;
        height: 350px;
        flex-shrink: 0; /* Permite que o card nâo encolha/diminua */
    }

    /* Card Experiência - Título e Subítulo */
    div.cardExperiencia h2, div.cardExperiencia h3{
        font-size: 20px;
    }

    /* Card Experiência - Período  */
    div.cardExperiencia h4{
        font-size: 15px;
    }

    /* Card Experiência - Texto  */
    div.cardExperiencia p{
        font-size: 18px;
    }

    /* Card Certificados - Engloba os Cards dos Certificados  */
    div#certificados section{
        width: 350px;
        flex-direction: row;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    /* Card Certificados - Icon e Linha vertical + Card */
    div.ContainerIcon-e-card{
        flex-direction: column;
    }

    /* Card Certificados - Icon + Linha vertical*/
    div.icon_LinhaVertical{
        flex-direction: row;
        gap: 15px;
    }

    /* Card Certificados - Linha vertical */
    div.linhaVertical{
        width: 100%;
        height: 2px; 
    }

    /* Posição da ponta da seta */
    div.setaLinha{
        display: block;
        width: 18px;
        height: 2px;
        right: -2px;
    }

    /* Card Certificados - Linha horizontal exclusiva para o último card */
    div.linhaHorizontalPython{
        display: block;
        width: 100%;
        height: 2px;
    }

    /* Card Certificados - Linha vertical exclusiva para o último card */
    div.linhaVerticalPython{
        display: block;
    }

    /* Card Certificados - Container  */
    div.cardCertificados{
        width: 350px;
        height: 180px;
        justify-content: space-between;
    }

    /* Card Certificados - Título */
    div.cardCertificados h2{
        font-size: 25px;
    }

    /* Card Certificados - Título da Confereência */
    div#cardConferencia h2{
        font-size: 20px;
    }

    /* Card Certificados - Local */
    div.cardCertificados h3{
        font-size: 15px;
    }

    /* Card Certificados - Período */
    div.cardCertificados h4{
        font-size: 14px;
    }

    /* Carrossel - Container dos Botões */
    div.esconderCarrosselBotoes{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }

    /* Carrosel - Caixa com os botões do carrossel */
    div.carrosselBotoes{
        gap: 20px;
    }

    /* Carrosel - Botões */
    div.carrosselBotoes i.carrosselSetas{
        font-size: 40px;
    }
}
@media only screen and (min-width: 459px) and (max-width: 598px) {
    main{
        padding: 50px 40px;
        gap: 60px;
    }

    h1{
        text-align: center;
        font-size: 32px;
    }

    /* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
    section#SobreTec{
        flex-direction: column;
        gap: 40px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 100%;
    }

    /* Sobre mim - Parágrafo */
    div#sobreMim p{
        text-align: center;
        font-size: 22px;
    }

    /* Sobre mim - Tecnologias e Ferramentas */
    div#TecsFerramentas{
        width: 100%;
        text-align: center;
    }

    /* Sobre mim - Container com os icons */
    div.containerIconsTecs{
        margin: 0 auto;
        max-width: 380px;
    }

    /* Section Experiencia + Certificados */
    section#ExperienciaCertificados{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /* Section Experiencia + Certificados - h1 */
    section#ExperienciaCertificados h1{
        font-size: 42px;
        text-align: center;
    }

    /* Section Experiencia + Certificados - Cards da Experiência */
    div#Experiencia section{
        width: 380px;
        flex-direction: row;
        overflow: hidden;
    }

    /* Card Experiência - Container  */
    div.cardExperiencia{
        width: 380px;
        height: 350px;
        flex-shrink: 0; /* Permite que o card nâo encolha/diminua */
    }

    /* Card Experiência - Título e Subítulo */
    div.cardExperiencia h2, div.cardExperiencia h3{
        font-size: 20px;
    }

    /* Card Experiência - Período  */
    div.cardExperiencia h4{
        font-size: 15px;
    }

    /* Card Experiência - Texto  */
    div.cardExperiencia p{
        font-size: 18px;
    }

    /* Card Certificados - Engloba os Cards dos Certificados  */
    div#certificados section{
        width: 420px;
        flex-direction: row;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    /* Card Certificados - Icon e Linha vertical + Card */
    div.ContainerIcon-e-card{
        flex-direction: column;
    }

    /* Card Certificados - Icon */
    i.icon-certificado{
        margin-left: 2px;
    }

    /* Card Certificados - Icon + Linha vertical*/
    div.icon_LinhaVertical{
        flex-direction: row;
        gap: 15px;
    }

    /* Card Certificados - Linha vertical */
    div.linhaVertical{
        width: 100%;
        height: 2px; 
    }

    /* Posição da ponta da seta */
    div.setaLinha{
        display: block;
        width: 18px;
        height: 2px;
        right: -2px;
    }

    /* Card Certificados - Linha horizontal exclusiva para o último card */
    div.linhaHorizontalPython{
        display: block;
        width: 100%;
        height: 2px;
    }

    /* Card Certificados - Linha vertical exclusiva para o último card */
    div.linhaVerticalPython{
        display: block;
    }

    /* Card Certificados - Container  */
    div.cardCertificados{
        width: 420px;
        height: 180px;
        justify-content: space-between;
    }

    /* Card Certificados - Título */
    div.cardCertificados h2{
        font-size: 25px;
    }

    /* Card Certificados - Título da Confereência */
    div#cardConferencia h2{
        font-size: 20px;
    }

    /* Card Certificados - Local */
    div.cardCertificados h3{
        font-size: 20px;
    }

    /* Card Certificados - Período */
    div.cardCertificados h4{
        font-size: 15px;
    }

    /* Card Certificados - Certificado */
    div.card a{
        bottom: 10px;
        font-size: 15px;
    }

    /* Carrossel - Container dos Botões */
    div.esconderCarrosselBotoes{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }

    /* Carrosel - Caixa com os botões do carrossel */
    div.carrosselBotoes{
        gap: 20px;
    }

    /* Carrosel - Botões */
    div.carrosselBotoes i.carrosselSetas{
        font-size: 35px;
    }
}
@media only screen and (min-width: 599px) and (max-width: 768px) {
    main{
        padding: 50px 70px;
        gap: 60px;
    }

    /* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
    section#SobreTec{
        flex-direction: column;
        gap: 40px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 100%;
    }

    /* Sobre mim - Tecnologias e Ferramentas */
    div#TecsFerramentas{
        width: 100%;
        text-align: center;
    }

    /* Sobre mim - Container com os icons */
    div.containerIconsTecs{
        margin: 0 auto;
        max-width: 380px;
    }

    /* Section Experiencia + Certificados */
    section#ExperienciaCertificados{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /* Section Experiencia + Certificados - h1 */
    section#ExperienciaCertificados h1{
        font-size: 42px;
        text-align: center;
    }

    /* Section Experiencia + Certificados - Cards da Experiência */
    div#Experiencia section{
        width: 470px;
        flex-direction: row;
        overflow: hidden;
    }

    /* Card Experiência - Container  */
    div.cardExperiencia{
        width: 470px;
        flex-shrink: 0; /* Permite que o card nâo encolha/diminua */
    }

    /* Card Certificados - Engloba os Cards dos Certificados  */
    div#certificados section{
        width: 450px;
        flex-direction: row;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    /* Card Certificados - Icon e Linha vertical + Card */
    div.ContainerIcon-e-card{
        flex-direction: column;
    }

    /* Card Certificados - Icon + Linha vertical*/
    div.icon_LinhaVertical{
        flex-direction: row;
        gap: 15px;
    }

    /* Card Certificados - Linha vertical */
    div.linhaVertical{
        width: 100%;
        height: 2px; 
    }

    /* Posição da ponta da seta */
    div.setaLinha{
        display: block;
        width: 18px;
        height: 2px;
        right: -1px;
    }

    /* Card Certificados - Linha horizontal exclusiva para o último card */
    div.linhaHorizontalPython{
        display: block;
        width: 100%;
        height: 2px;
    }

    /* Card Certificados - Linha vertical exclusiva para o último card */
    div.linhaVerticalPython{
        display: block;
    }

    /* Card Certificados - Container  */
    div.cardCertificados{
        height: 200px;
        justify-content: space-between;
    }

    /* Título da Confereência */
    div#cardConferencia h2{
        font-size: 22px;
    }

    /* Card Certificados - Título */
    div.cardCertificados h2{
        font-size: 25px;
    }

    /* Card Certificados - Título da Confereência */
    div#cardConferencia h2{
        font-size: 22px;
    }

    /* Card Certificados - Local */
    div.cardCertificados h3{
        font-size: 20px;
    }

    /* Card Certificados - Período */
    div.cardCertificados h4{
        font-size: 20px;
    }

    /* Carrossel - Container dos Botões */
    div.esconderCarrosselBotoes{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }

    /* Carrosel - Caixa com os botões do carrossel */
    div.carrosselBotoes{
        gap: 20px;
    }

    /* Carrosel - Botões */
    div.carrosselBotoes i.carrosselSetas{
        font-size: 35px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 898px) {
    main{
        padding: 50px 70px;
    }

    /* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
    section#SobreTec{
        flex-direction: column;
        gap: 40px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 100%;
    }

    /* Sobre mim - Tecnologias e Ferramentas */
    div#TecsFerramentas{
        width: 100%;
        text-align: center;
    }

    /* Section Experiencia + Certificados */
    section#ExperienciaCertificados{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /* Section Experiencia + Certificados - h1 */
    section#ExperienciaCertificados h1{
        font-size: 42px;
        text-align: center;
    }

    /* Section Experiencia + Certificados - Cards da Experiência */
    div#Experiencia section{
        width: 580px;
        flex-direction: row;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    /* Card Experiência - Container  */
    div.cardExperiencia{
        width: 580px;
        flex-shrink: 0; /* Permite que o card nâo encolha/diminua */
    }

    /* Card Certificados - Engloba os Cards dos Certificados  */
    div#certificados section{
        width: 450px;
        flex-direction: row;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    /* Card Certificados - Icon e Linha vertical + Card */
    div.ContainerIcon-e-card{
        flex-direction: column;
    }

    /* Card Certificados - Icon + Linha vertical*/
    div.icon_LinhaVertical{
        flex-direction: row;
        gap: 15px;
    }

    /* Card Certificados - Linha vertical */
    div.linhaVertical{
        width: 100%;
        height: 2px; 
    }

     /* Posição da ponta da seta */
    div.setaLinha{
        display: block;
    }

    /* Card Certificados - Linha horizontal exclusiva para o último card */
    div.linhaHorizontalPython{
        display: block;
        width: 100%;
        height: 2px;
    }

    /* Card Certificados - Linha vertical exclusiva para o último card */
    div.linhaVerticalPython{
        display: block;
    }

    /* Card Certificados - Container  */
    div.cardCertificados{
        height: 200px;
        justify-content: space-between;
    }

    /* Título da Confereência */
    div#cardConferencia h2{
        font-size: 22px;
    }

    /* Card Certificados - Título */
    div.cardCertificados h2{
        font-size: 25px;
    }

    /* Card Certificados - Título da Confereência */
    div#cardConferencia h2{
        font-size: 22px;
    }

    /* Card Certificados - Local */
    div.cardCertificados h3{
        font-size: 20px;
    }

    /* Card Certificados - Período */
    div.cardCertificados h4{
        font-size: 20px;
    }

    /* Carrossel - Container dos Botões */
    div.esconderCarrosselBotoes{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }

    /* Carrosel - Caixa com os botões do carrossel */
    div.carrosselBotoes{
        gap: 20px;
    }

    /* Carrosel - Botões */
    div.carrosselBotoes i.carrosselSetas{
        font-size: 35px;
    }
}
@media only screen and (min-width: 899px) and (max-width: 1088px) {
    main{
        padding: 50px 90px;
    }

    /* Sobre mim - Section Sobre + Tecnologias e Ferramentas */
    section#SobreTec{
        flex-direction: column;
        gap: 40px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 100%;
    }

    /* Sobre mim - Tecnologias e Ferramentas */
    div#TecsFerramentas{
        width: 100%;
        text-align: center;
    }

    /* Section Experiencia + Certificados */
    section#ExperienciaCertificados{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /* Section Experiencia + Certificados - h1 */
    section#ExperienciaCertificados h1{
        font-size: 42px;
        text-align: center;
    }

    /* Section Experiencia + Certificados - Cards da Experiência */
    div#Experiencia section{
        width: 580px;
        flex-direction: row;
        overflow: hidden;
    }

    /* Card Experiência - Container  */
    div.cardExperiencia{
        width: 580px;
        flex-shrink: 0; /* Permite que o card nâo encolha/diminua */
    }

    /* Card Certificados - Engloba os Cards dos Certificados  */
    div#certificados section{
        width: 450px;
        flex-direction: row;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    /* Card Certificados - Icon e Linha vertical + Card */
    div.ContainerIcon-e-card{
        flex-direction: column;
    }

    /* Card Certificados - Icon + Linha vertical*/
    div.icon_LinhaVertical{
        flex-direction: row;
        gap: 15px;
    }

    /* Card Certificados - Linha vertical */
    div.linhaVertical{
        width: 100%;
        height: 2px;
    }

    /* Posição da ponta da seta */
    div.setaLinha{
        display: block;
    }

    /* Card Certificados - Linha horizontal exclusiva para o último card */
    div.linhaHorizontalPython{
        display: block;
        width: 100%;
        height: 2px;
    }

    /* Card Certificados - Linha vertical exclusiva para o último card */
    div.linhaVerticalPython{
        display: block;
    }

    /* Card Certificados - Container  */
    div.cardCertificados{
        height: 200px;
        justify-content: space-between;
    }

    /* Card Certificados - Título */
    div.cardCertificados h2{
        font-size: 25px;
    }

    /* Card Certificados - Título da Confereência */
    div#cardConferencia h2{
        font-size: 22px;
    }

    /* Card Certificados - Local */
    div.cardCertificados h3{
        font-size: 20px;
    }

    /* Card Certificados - Período */
    div.cardCertificados h4{
        font-size: 20px;
    }

    /* Carrossel - Container dos Botões */
    div.esconderCarrosselBotoes{
        display: block; /* Serve apenas para ocultar/exibir a caixa dos botões */
    }
}
@media only screen and (min-width: 1089px) and (max-width: 1228px) {
    /* Section Experiencia + Certificados */
    section#ExperienciaCertificados{
        gap: 40px;
    }

    /* Card Certificados - Container  */
    div.cardCertificados{
        width: 380px;
    }
}
@media only screen and (min-width: 1229px) and (max-width: 1399px) {
    main{
        padding: 50px 90px;
    }

    /* Sobre mim - Sobre  */
    div#sobreMim{
        width: 500px;
    }

    /* Section Experiencia + Certificados */
    section#ExperienciaCertificados{
        gap: 40px;
    }

    /* Card Certificados - Container  */
    div.cardCertificados{
        width: 420px;
    }
}